<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<div th:replace="~{layout/head :: head}"></div>

<body>

    <div th:replace="~{layout/sidebar :: sidebar}"></div>

    <div class="content">
        <header class="d-lg-none mb-4">
            <nav class="navbar bg-light rounded-3">
                <div class="container-fluid">
                    <div></div>
                    <button class="navbar-toggler" type="button" data-bs-toggle="offcanvas"
                        data-bs-target="#sidebarOffcanvas" aria-controls="sidebarOffcanvas">
                        <span class="navbar-toggler-icon"></span>
                    </button>
                </div>
            </nav>
        </header>
        <main th:replace="~{${view} :: content}"></main>
    </div>
</body>

</html>