<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<div th:replace="~{layout/head :: head}"></div>

<body>

    <div th:replace="~{layout/sidebar :: sidebar}"></div>

    <div class="content">
        <header class="d-lg-none mb-4">
            <nav class="navbar bg-light rounded-3">
                <div class="container-fluid">
                    <div></div>
                    <button class="navbar-toggler" type="button" data-bs-toggle="offcanvas"
                        data-bs-target="#sidebarOffcanvas" aria-controls="sidebarOffcanvas">
                        <span class="navbar-toggler-icon"></span>
                    </button>
                </div>
            </nav>
        </header>
        <main>

            <div id="toast-container" class="position-absolute top-0 start-50 translate-middle-x p-3"
                style="z-index: 1100">
                <div th:if="${successMessage}" class="toast align-items-center text-bg-success border-0 fade"
                    role="alert" style="width: auto; max-width: 100%;" aria-live="assertive" aria-atomic="true"
                    data-bs-delay="2000">
                    <div class="d-flex">
                        <div class="toast-body">
                            <span th:text="${successMessage}">Success!</span>
                        </div>
                    </div>
                </div>

                <div th:if="${errorMessage}" class="toast align-items-center text-bg-danger border-0 fade" role="alert"
                    style="width: auto; max-width: 100%;" aria-live="assertive" aria-atomic="true" data-bs-delay="2000">
                    <div class="d-flex">
                        <div class="toast-body">
                            <span th:text="${errorMessage}">Error!</span>
                        </div>
                    </div>
                </div>
            </div>
            <div th:replace="~{${view} :: content}"></div>
        </main>
    </div>

    <script>
        document.addEventListener("DOMContentLoaded", function () {
            const toasts = document.querySelectorAll('.toast');
            toasts.forEach(toastEl => {
                const toast = new bootstrap.Toast(toastEl);
                toast.show();
            });
        });
    </script>
</body>

</html>