<!DOCTYPE html>
<html lang="pt-BR" xmlns:th="http://www.thymeleaf.org">

<body>
    <div th:fragment="content">
        <div class="d-flex justify-content-between align-items-center mb-4">
            <h1 class="h3 mb-0">Selecionar Cliente</h1>
            <div class="d-flex">

                <a th:href="@{/tutor/new(context=${context},serviceId=${serviceExecutionId})}"
                    class="btn btn-primary d-flex align-items-center me-2">
                    <i class="bi bi-person-plus-fill me-2"></i>
                    Novo Tutor
                </a>
                <a th:href="@{/serviceExecution/{id}(id=${serviceExecutionId})}"
                    class="btn btn-outline-secondary btn d-flex align-items-center">
                    <i class="bi bi-arrow-left me-2"></i> Voltar
                </a>
            </div>
        </div>

        <!-- Formulário de busca -->
        <div class="card shadow-sm mb-4">
            <div class="card-body">
                <form th:action="@{/serviceExecution/clientSelection}" method="get" class="row g-3 align-items-end">
                    <input type="hidden" name="context" th:value="${context}">
                    <input type="hidden" name="serviceExecutionId" th:value="${serviceExecutionId}">

                    <div class="col-lg-6">
                        <label for="search" class="form-label">Buscar por Nome</label>
                        <input type="text" id="search" name="search" class="form-control"
                            placeholder="Nome do tutor ou do pet..." th:value="${search}">
                    </div>
                    <div class="col-lg-2">
                        <button type="submit" class="btn btn-primary d-flex align-items-center justify-content-center">
                            <i class="bi bi-search me-2"></i> Buscar
                        </button>
                    </div>
                </form>
            </div>
        </div>

        <div class="card shadow-sm">
            <div class="card-body p-0">
                <div class="table-responsive">
                    <table class="table align-middle mb-0">
                        <thead class="table-light">
                            <tr>
                                <th style="min-width: 150px;">Tutor</th>
                                <th>Pets</th>
                            </tr>
                        </thead>
                        <tbody>
                            <th:block th:each="tutor : ${tutorsPage.content}">
                                <tr>
                                    <td th:text="${tutor.name}" class="fw-normal fs-6 py-3">Tutor Name</td>
                                    <td class="py-3">
                                        <div class="d-flex flex-wrap gap-3 align-items-center">
                                            <th:block th:each="pet : ${tutor.getActivePets()}">
                                                <form
                                                    th:action="${serviceExecutionId == null} ? @{/serviceExecution/create} : @{/serviceExecution/updateClient}"
                                                    method="post" class="m-0">
                                                    <input th:if="${serviceExecutionId != null}" type="hidden"
                                                        name="serviceExecutionId" th:value="${serviceExecutionId}" />
                                                    <input type="hidden" name="tutorId" th:value="${tutor.id}" />
                                                    <input type="hidden" name="petId" th:value="${pet.id}" />
                                                    <button type="submit"
                                                        class="btn btn btn-primary badge rounded-pill">
                                                        <span th:text="${pet.name}">Pet Name</span>
                                                    </button>
                                                </form>
                                            </th:block>

                                            <a href="#" class="badge bg-light text-muted rounded-pill"
                                                style="text-decoration: none;" data-bs-toggle="modal"
                                                th:attr="data-bs-target='#modalNewPet-' + ${tutor.id}">
                                                + Adicionar pet
                                            </a>
                                            <div class="modal fade" th:id="'modalNewPet-' + ${tutor.id}" tabindex="-1">
                                                <div class="modal-dialog modal-dialog-centered modal-sm">
                                                    <div class="modal-content">
                                                        <form
                                                            th:action="${serviceExecutionId == null} ? @{/serviceExecution/create} : @{/serviceExecution/updateClient}"
                                                            method="post">
                                                            <div class="modal-header">
                                                                <h6 class="modal-title">Novo Pet
                                                                </h6>
                                                                <button type="button" class="btn-close"
                                                                    data-bs-dismiss="modal"></button>
                                                            </div>
                                                            <div class="modal-body">
                                                                <input type="hidden"
                                                                    th:if="${serviceExecutionId != null}"
                                                                    name="serviceExecutionId"
                                                                    th:value="${serviceExecutionId}" />
                                                                <input type="hidden" name="tutorId"
                                                                    th:value="${tutor.id}" />
                                                                <input type="text" name="petName"
                                                                    class="form-control form-control-sm"
                                                                    placeholder="Nome do pet" required />
                                                            </div>
                                                            <div class="modal-footer">
                                                                <button type="button"
                                                                    class="btn btn-outline-secondary btn-sm"
                                                                    data-bs-dismiss="modal">Cancelar</button>
                                                                <button type="submit"
                                                                    class="btn btn-success btn-sm">Criar</button>
                                                            </div>
                                                        </form>
                                                    </div>
                                                </div>
                                            </div>

                                        </div>
                                    </td>
                                </tr>
                            </th:block>

                            <tr th:if="${#lists.isEmpty(tutorsPage.content)}" style="pointer-events: none;">
                                <td colspan="2" class="text-center text-muted py-5">Nenhum cliente encontrado</td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>


        <nav th:if="${tutorsPage.totalPages > 1}" aria-label="Page navigation" class="mt-3">
            <ul class="pagination justify-content-center">

                <li class="page-item" th:classappend="${tutorsPage.first} ? 'disabled'">
                    <a class="page-link"
                        th:href="@{/serviceExecution/clientSelection(page=${tutorsPage.number - 1}, size=${tutorsPage.size}, search=${search}, context=${context}, serviceExecutionId=${serviceExecutionId})}">
                        Anterior
                    </a>
                </li>

                <li th:each="i : ${#numbers.sequence(0, tutorsPage.totalPages - 1)}" class="page-item"
                    th:classappend="${i == tutorsPage.number} ? 'active'">
                    <a class="page-link"
                        th:href="@{/serviceExecution/clientSelection(page=${i}, size=${tutorsPage.size}, search=${search}, context=${context}, serviceExecutionId=${serviceExecutionId})}"
                        th:text="${i + 1}">
                    </a>
                </li>

                <li class="page-item" th:classappend="${tutorsPage.last} ? 'disabled'">
                    <a class="page-link"
                        th:href="@{/serviceExecution/clientSelection(page=${tutorsPage.number + 1}, size=${tutorsPage.size}, search=${search}, context=${context}, serviceExecutionId=${serviceExecutionId})}">
                        Próxima
                    </a>
                </li>
            </ul>
        </nav>
    </div>
</body>

</html>