<!DOCTYPE html>
<html lang="pt-br" xmlns:th="http://www.thymeleaf.org">

<body>
    <div th:fragment="content" class="container my-4">
        <form th:action="@{/serviceExecution/save}" method="post" th:object="${serviceExecution}" class="row g-3">
            <div class="d-flex justify-content-between align-items-center mb-4">
                <h1 class="h3 mb-0" th:text="'Atendimento - #' + ${serviceExecution.id}"></h1>
                <div class="text-end">
                    <button type="submit" class="btn btn-success">
                        <i class="bi bi-save"></i> Salvar
                    </button>
                </div>
            </div>

            <div>

                <p>Tutor: <span th:text="${serviceExecution.tutorName}"></span></p>
                <p>Pet: <span th:text="${serviceExecution.petName}"></span></p>
                <a th:href="@{/serviceExecution/{id}/updateClient(id = ${serviceExecution.id})}" class="btn btn-primary lg-2">
                    Editar cliente
                </a>

            </div>

            <input type="hidden" th:field="*{id}">

            <div class="col-12">
                <h6 class="fw-bold">Serviços</h6>
                <div class="row g-3">
                    <div class="col-md-4" th:each="group : ${all_pet_care_groups}">
                        <div class="p-2 border rounded">
                            <p class="fw-bold mb-2" th:text="${group.description}"></p>
                            <div class="form-check" th:each="petcare : ${group.petcares}">
                                <input class="form-check-input" type="checkbox" th:field="*{selectedPetCareIds}"
                                    th:value="${petcare.id}" th:id="'petcare-' + ${petcare.id}">
                                <label class="form-check-label" th:for="'petcare-' + ${petcare.id}"
                                    th:text="${petcare.description}"></label>
                            </div>

                        </div>
                    </div>
                </div>
            </div>
        </form>
    </div>
</body>

</html>